---
import Layout from '../layouts/Layout_pages.astro'
import DecalogoItem from '../components/decalogo-item.astro'
---

<style></style>

<Layout title="Decálogo">
  <div class="mt-5 bg-malpais py-2 text-center text-2xl font-semibold" slot="title">Decálogo</div>

  <section class="z-0 mb-60 flex flex-col gap-10 p-8 text-lg">
    <DecalogoItem title="Terreno difícil pero fértil para la innovación">
      <p class="mb-4">
        El malpaís es un terreno áspero, lleno de lava volcánica que, a simple vista, parece estéril o impenetrable. Sin
        embargo, en estos terrenos difíciles es donde surgen nuevos ecosistemas y crece la vida de formas inesperadas.
      </p>
      <p>
        Aunque los proyectos de software pueden parecer complicados y desafiantes en su inicio, es en esos entornos
        complejos donde se pueden crear soluciones innovadoras y personalizadas.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Resiliencia y adaptación">
      <p class="mb-4">
        El malpaís es un paisaje que ha sobrevivido a la fuerza destructiva de los volcanes y, sin embargo, se
        transforma en algo único y hermoso.
      </p>
      <p>
        En el desarrollo de software, los desafíos y obstáculos pueden ser intensos, pero con el enfoque correcto, se
        puede transformar una situación compleja en una solución eficiente y eficaz. Al igual que la naturaleza se
        adapta,
        <span class="font-semibold text-malpais">malpaís.dev</span> demuestra cómo nos adaptamos a los retos del desarrollo
        de software para crear productos personalizados que prosperen en cualquier entorno.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Construcción sobre bases sólidas">
      <p class="mb-4">
        El malpaís es una formación geológica que, aunque parece caótica, se basa en capas sólidas de lava que forman
        una estructura firme y perdurable.
      </p>
      <p>
        Al igual que el malpaís, nuestros desarrollos de software se construyen sobre bases tecnológicas sólidas,
        utilizando principios firmes de arquitectura de software y desarrollo robusto para garantizar soluciones
        escalables y duraderas.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Innovación en un entorno desafiante">
      <p class="mb-4">
        El malpaís es un lugar que reta a la naturaleza a encontrar formas ingeniosas de florecer en medio de
        condiciones adversas.
      </p>
      <p>
        En el mundo del desarrollo de software a medida, enfrentamos constantemente desafíos únicos de nuestros clientes
        y del mercado. <span class="font-semibold text-malpais">malpaís.dev</span> simboliza nuestra capacidad para encontrar
        soluciones creativas y eficientes, incluso en los entornos más complejos.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Exploración continua de nuevos horizontes">
      <p class="mb-4">
        El malpaís es un paisaje que se forma lentamente, con terrenos inesperados y únicos que invitan a ser
        explorados, revelando nuevas posibilidades a quienes se aventuran.
      </p>
      En <span class="font-semibold text-malpais">malpaís.dev</span>, exploramos constantemente nuevas tecnologías,
      enfoques y metodologías, descubriendo soluciones innovadoras y ajustadas a las necesidades cambiantes de nuestros
      clientes.
    </DecalogoItem>

    <DecalogoItem title="Un enfoque artesanal en cada detalle">
      <p class="mb-4">
        En el malpaís, cada rincón tiene su propio carácter distintivo, creado por el lento proceso de la naturaleza en
        un entorno desafiante.
      </p>
      <p>
        De la misma manera, en <span class="font-semibold text-malpais">malpaís.dev</span> tratamos cada proyecto con atención
        artesanal, asegurando que cada detalle esté perfectamente integrado en el resultado final.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Colaboración armoniosa entre lo natural y lo técnico">
      <p class="mb-4">
        En el malpaís, la naturaleza y el terreno aparentemente opuestos coexisten de manera armoniosa, creando un
        paisaje único.
      </p>
      <p>
        En <span class="font-semibold text-malpais">malpaís.dev</span>, combinamos tecnología y creatividad, integrando
        lo mejor de ambos mundos para ofrecer soluciones que sean tanto funcionales como estéticamente eficientes.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Transformación de lo inhóspito en lo habitable">
      <p class="mb-4">
        El malpaís transforma lo que parece un entorno inhóspito en un ecosistema vibrante donde prospera la vida.
      </p>
      <p>
        <span class="font-semibold text-malpais">malpaís.dev</span> toma desafíos complejos y los convierte en plataformas
        de software eficientes y amigables para el usuario, facilitando la transformación digital de nuestros clientes.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Evolución y crecimiento constante">
      <p class="mb-4">
        El malpaís es un paisaje que cambia y evoluciona con el tiempo, adaptándose y prosperando a pesar de los
        desafíos naturales.
      </p>
      <p>
        En <span class="font-semibold text-malpais">malpaís.dev</span>, abrazamos la evolución continua, adaptándonos a
        las nuevas tecnologías y tendencias para asegurarnos de que nuestras soluciones sigan siendo relevantes y
        efectivas en un entorno siempre cambiante.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Visión clara en medio de la incertidumbre">
      <p class="mb-4">
        El malpaís puede parecer caótico, pero para aquellos que saben observar, el camino se vuelve claro.
      </p>
      Del mismo modo, en <span class="font-semibold text-malpais">malpaís.dev</span> guiamos a nuestros clientes a través
      de la incertidumbre tecnológica, ayudándolos a tomar decisiones informadas y a trazar un camino claro hacia el éxito.
    </DecalogoItem>
  </section>
</Layout>
