---
import Layout from '../layouts/Layout.astro'
import logo from '../assets/malpais_logo_dark.svg'
import logoName from '../assets/malpais_name_dark.svg'
import logoDescrip from '../assets/malpais_descrip_dark.svg'
import DecalogoItem from '../components/decalogo-item.astro'
---

<style>
  #title-main {
    backdrop-filter: blur(10px);
    animation: title-animation auto both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
  }
  @keyframes title-animation {
    0% {
      opacity: 1;
      z-index: 10;
    }
    to {
      opacity: 0;
      z-index: -100;
    }
  }
  #logo-descrip {
    padding: 10px;
    animation: logo-descrip-animation auto both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
  }
  @keyframes logo-descrip-animation {
    from {
      translate: 0 0;
    }
    to {
      translate: 0px -150px;
    }
  }
  #title-main-2 {
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    animation: title-animation-2 auto both;
    animation-timeline: scroll(root block);
    animation-range: 190px 250px;
  }
  @keyframes title-animation-2 {
    from {
      opacity: 0;
      height: 0;
    }
    to {
      opacity: 1;
      height: 80px;
    }
  }
  #progress {
    height: 0.3em;
    width: 0%;
    animation: progress-grow auto linear;
    animation-timeline: scroll(root block);
  }
  @keyframes progress-grow {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .pulsers {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .pulser {
    width: 30px;
    height: 30px;
    background: #ff6f00;
    border-radius: 50%;
    position: relative;
  }
  .pulser::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: rgba(255, 111, 0, 0.6);
    z-index: -1;
    animation: pulse 1s ease-in-out infinite 1s alternate;
  }
  @keyframes pulse {
    0% {
      opacity: 0;
    }
    100% {
      transform: scale(1.4);
      border: 1px solid #ff6f00;
      opacity: 0.3;
    }
  }
</style>
<Layout>
  <h1 id="title-main-2" class="sticky top-0 flex w-full items-center justify-center text-white">
    <div class="-ml-2 flex items-center justify-center">
      <img src={logo.src} class="p-0" style="height: 50px;" alt="logo" />
      <img src={logoName.src} style="height: 60px; margin-top: -10px;" alt="logo" />
    </div>
  </h1>

  <h1 id="title-main" class="sticky top-0 flex w-full flex-col items-center justify-center p-10 text-white">
    <img id="logo-descrip" src={logoDescrip.src} style="height: 350px;" alt="logo" />
  </h1>

  <div id="progress" class="fixed top-0 z-[11] bg-malpais"></div>

  <!-- <section id="servicios">
      <span style='--content: "Desarrollo."; --start-color: #007CF0; --endcolor: #00DFD8; --delay: 0s'>Desarrollo.</span>
      <span style='--content: "Asesoramiento."; --start-color: #7928CA; --endcolor: #FF0080; --delay: 3s'>Asesoramiento.</span>
      <span style='--content: "Servicios."; --start-color: #FF4D4D; --endcolor: #F9CB28; --delay: 6s'>Servicios.</span>
    </section> -->

  <section class="pulsers p-10">
    <div class="pulser"></div>
    <div class="pulser"></div>
    <div class="pulser"></div>
    <div class="pulser"></div>
  </section>

  <section class="z-0 mb-60 flex flex-col gap-10 p-8 text-lg">
    <DecalogoItem title="Terreno difícil pero fértil para la innovación">
      <p class="mb-4">
        Malpaís describe un terreno áspero, lleno de lava volcánica que, a simple vista, parece estéril o impenetrable.
        Sin embargo, en estos terrenos difíciles es donde surgen nuevos ecosistemas y crece la vida de formas
        inesperadas.
      </p>
      <p>
        Aunque los proyectos de software pueden parecer complicados y desafiantes en su inicio, es en esos entornos
        complejos donde se pueden crear soluciones innovadoras y personalizadas.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Resiliencia y adaptación">
      <p class="mb-4">
        El malpaís es un paisaje que ha sobrevivido a la fuerza destructiva de los volcanes y, sin embargo, se
        transforma en algo único y hermoso.
      </p>
      <p>
        En el desarrollo de software, los desafíos y obstáculos pueden ser intensos, pero con el enfoque correcto, se
        puede transformar una situación compleja en una solución eficiente y eficaz. Al igual que la naturaleza se
        adapta,
        <span class="font-semibold text-malpais">malpaís.dev</span> demuestra cómo nos adaptamos a los retos del desarrollo
        de software para crear productos personalizados que prosperen en cualquier entorno.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Construcción sobre bases sólidas">
      <p class="mb-4">
        El malpaís es una formación geológica que, aunque parece caótica, se basa en capas sólidas de lava que forman
        una estructura firme y perdurable.
      </p>
      <p>
        Al igual que el malpaís, nuestros desarrollos de software se construyen sobre bases tecnológicas sólidas,
        utilizando principios firmes de arquitectura de software y desarrollo robusto para garantizar soluciones
        escalables y duraderas.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Innovación en un entorno desafiante">
      <p class="mb-4">
        El malpaís es un lugar que reta a la naturaleza a encontrar formas ingeniosas de florecer en medio de
        condiciones adversas.
      </p>
      <p>
        En el mundo del desarrollo de software a medida, enfrentamos constantemente desafíos únicos de nuestros clientes
        y del mercado. <span class="font-semibold text-malpais">malpaís.dev</span> simboliza nuestra capacidad para encontrar
        soluciones creativas y eficientes, incluso en los entornos más complejos.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Exploración continua de nuevos horizontes">
      <p class="mb-4">
        El malpaís es un paisaje que se forma lentamente, con terrenos inesperados y únicos que invitan a ser
        explorados, revelando nuevas posibilidades a quienes se aventuran.
      </p>
      En <span class="font-semibold text-malpais">malpaís.dev</span>, exploramos constantemente nuevas tecnologías,
      enfoques y metodologías, descubriendo soluciones innovadoras y ajustadas a las necesidades cambiantes de nuestros
      clientes.
    </DecalogoItem>

    <DecalogoItem title="Un enfoque artesanal en cada detalle">
      <p class="mb-4">
        En el malpaís, cada rincón tiene su propio carácter distintivo, creado por el lento proceso de la naturaleza en
        un entorno desafiante.
      </p>
      <p>
        De la misma manera, en <span class="font-semibold text-malpais">malpaís.dev</span> tratamos cada proyecto con atención
        artesanal, asegurando que cada detalle esté perfectamente integrado en el resultado final.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Colaboración armoniosa entre lo natural y lo técnico">
      <p class="mb-4">
        En el malpaís, la naturaleza y el terreno aparentemente opuestos coexisten de manera armoniosa, creando un
        paisaje único.
      </p>
      <p>
        En <span class="font-semibold text-malpais">malpaís.dev</span>, combinamos tecnología y creatividad, integrando
        lo mejor de ambos mundos para ofrecer soluciones que sean tanto funcionales como estéticamente eficientes.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Transformación de lo inhóspito en lo habitable">
      <p class="mb-4">
        El malpaís transforma lo que parece un entorno inhóspito en un ecosistema vibrante donde prospera la vida.
      </p>
      <p>
        <span class="font-semibold text-malpais">malpaís.dev</span> toma desafíos complejos y los convierte en plataformas
        de software eficientes y amigables para el usuario, facilitando la transformación digital de nuestros clientes.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Evolución y crecimiento constante">
      <p class="mb-4">
        El malpaís es un paisaje que cambia y evoluciona con el tiempo, adaptándose y prosperando a pesar de los
        desafíos naturales.
      </p>
      <p>
        En <span class="font-semibold text-malpais">malpaís.dev</span>, abrazamos la evolución continua, adaptándonos a
        las nuevas tecnologías y tendencias para asegurarnos de que nuestras soluciones sigan siendo relevantes y
        efectivas en un entorno siempre cambiante.
      </p>
    </DecalogoItem>

    <DecalogoItem title="Visión clara en medio de la incertidumbre">
      <p class="mb-4">
        El malpaís puede parecer caótico, pero para aquellos que saben observar, el camino se vuelve claro.
      </p>
      Del mismo modo, en <span class="font-semibold text-malpais">malpaís.dev</span> guiamos a nuestros clientes a través
      de la incertidumbre tecnológica, ayudándolos a tomar decisiones informadas y a trazar un camino claro hacia el éxito.
    </DecalogoItem>
  </section>
</Layout>
