---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import logo from '../assets/malpais_descrip_dark.svg'
---

<style>
  #title-main {
    z-index: 10;
    padding: 16px;
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
  }
</style>

<Layout>
  <div class="flex h-[100vh] flex-col items-center justify-center">
    <div class="flex w-full items-center justify-center px-10">
      <Image src={logo} alt="logo" class="xs:w-full" />
    </div>
    <h1 id="title-main" class="mt-10 text-4xl font-thin text-gray-300">Proximamente...</h1>
  </div>
</Layout>
