---
import { Image } from 'astro:assets';
import logo from '../assets/malpais_descrip_dark.svg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon_light.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Malpais DEV</title>
    <style>
      body {
        background: #000;
        font-family: system-ui;
        display: grid;
        place-content: center;
        height: 100vh;
      }
      #title-main {
        z-index: 10;
        padding: 16px;
        position: sticky;
        top: 0;
        width: 100%;
        text-align: center;
        font-weight: bolder;
      }      
    </style>
	</head>
	<body>
    <div class="w-full h-full px-10 flex items-center justify-center">
      <Image src={logo} alt="logo" class="xs:w-full" />
    </div>
    <h1 class="px-10 mt-10 text-2xl text-center text text-gray-400 italic">Innovación que florece en cualquier terreno</h1>
    <h1 id="title-main" class="mt-10 text-gray-300 text-4xl">Proximamente...</h1>
	</body>
</html>
