---
import { Image } from 'astro:assets';
import logo from '../assets/logoDescrip_dark.svg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Malpais DEV</title>
    <style>
      body {
        background: #000;
        font-family: system-ui;
        display: grid;
        place-content: center;
        height: 100vh;
      }
      #title-main {
        color: #8f8f8f;
        z-index: 10;
        padding: 16px;
        position: sticky;
        top: 0;
        width: 100%;
        text-align: center;
        font-size: 2em;
        font-weight: bolder;
      }      
    </style>
	</head>
	<body>
    <Image src={logo} alt="logo" />
    <h1 id="title-main">Proximamente...</h1>

	</body>
</html>
