---
import LucideIcon from '../components/lucide-icons.astro'
import { Github, Linkedin, Mail } from 'lucide'
---

<footer class="flex w-full flex-none flex-col items-center justify-center bg-black px-5 pb-2 pt-5 font-extralight">
  <div class="flex items-center justify-center gap-4">
    <LucideIcon icon={Linkedin} width="16" stroke-width="2" class="hover:text-malpais" />
    <LucideIcon icon={Github} width="16" stroke-width="2" class="hover:text-malpais" />
    <LucideIcon icon={Mail} width="16" stroke-width="2" class="hover:text-malpais" />
  </div>
  <div class="mt-5 flex w-full max-w-6xl items-center justify-between gap-2 text-xs md:text-sm">
    <div>Copyright © 2024</div>
    <div>malpais.dev</div>
  </div>
</footer>
