---
interface Props {
  main?: boolean
}

import '../styles/global.css'
import Header from '../components/header.astro'
import Progress from '../components/scroll-progress.astro'
import Footer from '../components/footer.astro'

const { main = true } = Astro.props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon_light.svg" />
    <meta name="description" content="Malpais DEV - Desarrollo de software y consulting" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Malpais DEV</title>
    <style>
      body {
        background: linear-gradient(to bottom, black, #3d3d3d);
        background-color: #3d3d3d;
        font-family: 'Raleway', 'system-ui', sans-serif;
      }
    </style>
  </head>
  <body class="m-0 flex min-h-screen w-full flex-col justify-between bg-fixed text-gray-200">
    <Header main={main} />

    <Progress />

    <slot name="title" />

    <main class="flex w-full justify-center px-5">
      <div class="max-w-6xl">
        <slot />
      </div>
    </main>

    <Footer />
  </body>
</html>
